# Pycharm
.idea/

# data files
cifar10/

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tmp files
tmp/

# scoregan
scoregan.zip
scoregan/
*samples*.png
*.jpg
data/
*log/
*.pkl
*.csv
*.log
example*/